parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
    tmpDir: tmp
    inferPrivatePropertyTypeFromConstructor: true
    checkGenericClassInNonGenericObjectType: false
    excludes_analyse:
        - tests/bootstrap.php
includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
